* {
    padding: 0px;
    margin: 0px;
}

.navi_head {
    height: 50px;
}

.navi_body {
    overflow: hidden;
    height: 50px;
    background-image: linear-gradient(to right, #037047, #007baf, #016b43, #007db1, #016e48);
    transition: height ease 0.8s;
}

.navi_body:hover {
    height: 300px;
}

.navi_head>div>span {
    width: 120px;
    text-align: center;
    height: 300px;
    display: inline-block;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 14px;
    vertical-align: top;
}

.navi_head>div>span>p a {
    color: rgb(255 255 255);
    text-decoration: none;
}

.navi_head>div>span>p a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.navi_title {
    font-size: 16px;
    line-height: 50px;
    margin-top: 0;
}

.navi_head>div>span:hover {
    background: rgba(255, 255, 255, 0.5);
}


.a {

    height: 920px;
    width: 75%;
    margin: auto;
}

#a2 {

    width: 70%;
    height: 800px;
    border: 2px solid;
    border-color: white;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#a2 span {
    text-align: center;
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.a21 {
    width: 60%;
    height: 600px;
    margin: auto;
    border: 1px solid #0000FF;
}

table {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

textarea {
    margin-left: 90px;
    margin-top: -20px;
}

input {
    margin-left: 13px;
    margin-top: 20px;
    line-height: 40px;
}

tr {
    width: 600px;
    height: 30px;
}

.a3 {
    width: 99.7%;
    height: 120px;
    border: 2px solid;
    border-color: #5c5343;
    ;
    background-color: #5c5343;
    ;
}

.a31 {
    width: 50%;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #5c5343;
    ;
}

.a31 span {
    display: block;
    margin-left: 320px;
    color: #FFFFFF;
    font-weight: bold;
}